/** @define footer */
@b footer {
    background-color: var(--primary-dark-color);
    color: var(--dark-background-text);
    height: var(--footer-height);
    position: fixed * 0 0 0;
    z-index: -1;

    @e container {
        align-items: center;
        height: var(--footer-height);
        lost-center: var(--body-width) var(--body-padding) flex;
    }
}
