html {
    font-family: 'Roboto', sans-serif;
    font-size: responsive 14px 20px;
    font-range: 320px 768px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0;
}

body {
    margin: 0;
    padding: 0 0 var(--footer-height) 0;
    box-sizing: border-box;
}

pre {
    overflow-x: scroll;
}
