html {
    font-family: "Roboto", sans-serif;
    font-range: 320px 768px;
    font-size: responsive 16px 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.625;

    background-color: var(--dark-background);

    @media (prefers-color-scheme: dark) {
        background-color: var(--darker-background);
    }
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

pre {
    overflow-x: scroll;
}
