/* @define main */
@b main {
    background-color: var(--white-color);
    color: var(--light-background-text);
    @mixin clearfix;
    position: relative;
    @mixin shadow-2dp;

    @m no-hero {
        padding-top: var(--navbar-height);
    }

    @e centered {
        @mixin center;
    }

    @e full-width {
        lost-center: 100% 0 flex;
    }
}
