/* @define main */
@b main {
    position: relative;
    color: var(--light-background-text);
    background-color: var(--white-color);
    lost-utility: clearfix;
    @mixin shadow-2dp;

    @m list {
        padding-top: var(--navbar-height);
    }

    @e centered {
        @mixin center;
    }

    @e full-width {
        lost-center: 100% 0 flex;
    }
}
