/* TODO @utility */
.hidden {
    display: none;
}

.svg-defs {
    position: absolute;
    size: 0;
}

.dark-background {
    color: var(--dark-background-text);

    & a {
        color: var(--dark-background-text);
    }
}

.light-background {
    color: var(--light-background-text);

    & a {
        color: var(--light-background-text);
    }
}
