.hidden {
    display: none;
}

.container {
    lost-center: var(--body-width) var(--body-padding) 0;
}

.dark-background {
    color: var(--dark-background-text);

    @nest & a {
        color: var(--dark-background-text);
    }
}

.light-background {
    color: var(--light-background-text);

    @nest & a {
        color: var(--light-background-text);
    }
}
